<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cdu.zch.demo21mybatisgeneratorpage.mapper.AccountMapper">
  <resultMap id="BaseResultMap" type="cdu.zch.demo21mybatisgeneratorpage.pojo.Account">
    <id column="actno" jdbcType="VARCHAR" property="actno" />
    <result column="balance" jdbcType="DOUBLE" property="balance" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    actno, balance
  </sql>
  <select id="selectByExample" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.AccountExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_act
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_act
    where actno = #{actno,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String">
    delete from t_act
    where actno = #{actno,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.AccountExample">
    delete from t_act
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.Account">
    insert into t_act (actno, balance)
    values (#{actno,jdbcType=VARCHAR}, #{balance,jdbcType=DOUBLE})
  </insert>
  <insert id="insertSelective" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.Account">
    insert into t_act
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="actno != null">
        actno,
      </if>
      <if test="balance != null">
        balance,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="actno != null">
        #{actno,jdbcType=VARCHAR},
      </if>
      <if test="balance != null">
        #{balance,jdbcType=DOUBLE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.AccountExample" resultType="java.lang.Long">
    select count(*) from t_act
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_act
    <set>
      <if test="row.actno != null">
        actno = #{row.actno,jdbcType=VARCHAR},
      </if>
      <if test="row.balance != null">
        balance = #{row.balance,jdbcType=DOUBLE},
      </if>
    </set>
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_act
    set actno = #{row.actno,jdbcType=VARCHAR},
      balance = #{row.balance,jdbcType=DOUBLE}
    <if test="example != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.Account">
    update t_act
    <set>
      <if test="balance != null">
        balance = #{balance,jdbcType=DOUBLE},
      </if>
    </set>
    where actno = #{actno,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="cdu.zch.demo21mybatisgeneratorpage.pojo.Account">
    update t_act
    set balance = #{balance,jdbcType=DOUBLE}
    where actno = #{actno,jdbcType=VARCHAR}
  </update>
</mapper>